{% extends 'base.html' %}

{% block content %}
<main>
    <div>
        <h1>Reminders</h1>
    </div>
    <div>
        <h2>Tasks</h2>
    </div>
    <table>
        <thead>
            <tr>
                <th>Task</th>
                <th>Due Date</th>
            </tr>
        </thead>
        <tbody>
            {% for item in list.items.all %}
            <tr>
                <td>
                    <a href="{% url 'todo_list_detail' item.id %}">{{ item.task }}</a>
                </td>
                <td>{{ item.due_date|date:"M d, Y" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
